{% extends 'authntication/base.html' %}
{% load static %}
{%  block content %}

        <!-- Sing in  Form -->
        <section class="sign-in">
            <div class="container">
                <div class="signin-content">
                    <div class="signin-image">
                        <figure><img src="{%static 'images/signin-image.jpg' %}" alt="sing up image"></figure>
                        <a href = "{% url 'index' %}" class="signup-image-link">You first need to Login</a>
                    </div>
                </div>
            </div>
        </section>
{%endblock%}