{% extends "dashboard/base.html "%}

{% load static %}

{% block content %}
        <h2 class="mb-4">Welcome to our Library</h2>
        <p>
                Libraries are vibrant hubs of knowledge, serving as invaluable resources for communities worldwide. 
                With shelves lined with a plethora of books, journals, and multimedia materials, libraries offer a 
                gateway to boundless information and learning opportunities. They provide sanctuary for readers seeking 
                solitude and inspiration, as well as dynamic spaces for collaboration and exploration. Libraries play a 
                pivotal role in fostering literacy, education, and intellectual curiosity, catering to diverse interests and needs.
                Moreover, libraries serve as custodians of cultural heritage, preserving and disseminating invaluable artifacts and 
                manuscripts that illuminate the tapestry of human history. In essence, libraries are not merely repositories of books 
                but thriving centers of enlightenment, empowerment, and community engagement, enriching lives and shaping futures.
        </p>
{% endblock %}
